/**************************************************************************************
 Name: aura.OpportunityMultiOfficeTableWrapper
 Version: 1.0 
 Created Date: 13.04.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   04/13/2017      Original Version
 * Pradeep Shetty    08/20/2018      US2396: Adjust MOS start dates automatically. 
                                     Add Lag and Auto Adjust fields
 *************************************************************************************/
.THIS th.tableHeader {
    text-align: center;
    white-space: normal;
}
.THIS tr.tableFooter {
    font-weight: bold;
}

.THIS td.lead,
.THIS th.lead{
    width: 40px;
}

.THIS td.performanceUnit,
.THIS th.performanceUnit{
    min-width: 250px;
    max-width: 250px;
}

.THIS td.resourceType,
.THIS th.resourceType{
    width: 15%;
    min-width: 150px;
}

.THIS td.revenue,
.THIS th.revenue{
    width: 10%;
    min-width: 150px;
}

.THIS td.gm,
.THIS th.gm{
    width: 10%;
    min-width: 150px;
}

.THIS td.avgGM,
.THIS th.avgGM{
    width: 3%;
    min-width: 75px;
}

.THIS td.hours,
.THIS th.hours{
    width: 5%;
    min-width: 120px;
}

.THIS td.startDate,
.THIS th.startDate{
	width: 140px;
    min-width: 140px;
}

/*US2396: Added Lag field*/
.THIS td.lag,
.THIS th.lag{
    width: 3%;
    min-width: 75px;
}
/*US2396: Added Auto Adjust field*/
.THIS td.autoAdjust,
.THIS th.autoAdjust{
    width: 40px;
}

.THIS td.months,
.THIS th.months{
    width: 3%;
    min-width: 65px;
}

.THIS td.actions,
.THIS th.actions{
    width: 3%;
    min-width: 60px;
}

.THIS .tableFooter td.lead span{
    margin-left: 20px;
}

.THIS .tableFooter td.performanceUnit span{
    margin-left: 20px;
}

.THIS .tableFooter td.resourceType span{
    margin-left: 20px;
}

.THIS .tableFooter td.revenue span{
    margin-left: 20px;
}

.THIS .tableFooter td.gm span{
    margin-left: 20px;
}

.THIS .tableFooter td.avgGM span{
    margin-left: 0;
}

.THIS .tableFooter td.hours span{
    margin-left: 20px;
}

.THIS .tableFooter td.startDate span{
    margin-left: 0px;
    margin-right: 0px;
}

.THIS .tableFooter td.months span{
    margin-left: 20px;
}

.THIS .requiredField{
    border-color: rgb(194, 57, 52);
}

@media (max-width: 1500px) {
    .THIS .hidden-sm {
        display: none !important;
    }
}