.THIS.table-container{
    width: 100%;
    position: relative;
    overflow-x: scroll;
    max-height: 292px;
    overflow-y: scroll;
}
.THIS .milestones-table thead tr th{
    background-color: rgb(250, 250, 249);
    position: sticky;
    top: 0;
    z-index: 77;
}
.THIS .milestones-table thead tr th:first-child{
    left: 0;
    z-index: 88;
}
.THIS .milestones-table tbody tr{
    height: 40px;
}
.THIS .milestones-table tbody tr th{
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 88;
}
.THIS .milestones-table tbody tr td{
    border-top: solid 4px #fff;
    border-bottom: solid 4px #fff;
    overflow: hidden;
}
.THIS .milestones-table tbody tr td.fill.Past.Due{
    background: rgb(194, 57, 52);
}
.THIS .milestones-table tbody tr td.fill.Upcoming{
    background: #1e43e5;
}
.THIS .milestones-table tbody tr td.fill.Closed{
    background: #006400;
}
.THIS .milestones-table tbody tr td.diamond{
    padding: 0px;
}
.THIS .milestones-table tbody tr td.diamond .this-diamond{
    position: relative;
    width: 100%;
    height: 40px;
    top: -1px;
    margin-bottom: -2px;
}
.THIS .milestones-table tbody tr td.diamond .this-diamond::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 0px;
    border-top: solid 20px transparent;
  	border-bottom: solid 20px transparent;
  	border-right: solid 20px #fff;
}
.THIS .milestones-table tbody tr td.diamond .this-diamond::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 50%;
    height: 0px;
    border-top: solid 20px transparent;
  	border-bottom: solid 20px transparent;
  	border-left: solid 20px #fff;
}
.THIS .milestones-table tbody tr td.diamond.Past.Due .this-diamond::before{
	border-right-color: rgb(194, 57, 52);
}
.THIS .milestones-table tbody tr td.diamond.Past.Due .this-diamond::after{
	border-left-color: rgb(194, 57, 52);
}
.THIS .milestones-table tbody tr td.diamond.Upcoming .this-diamond::before{
	border-right-color: #1e43e5;
}
.THIS .milestones-table tbody tr td.diamond.Upcoming .this-diamond::after{
	border-left-color: #1e43e5;
}
.THIS .milestones-table tbody tr td.diamond.Closed .this-diamond::before{
	border-right-color: #006400;
}
.THIS .milestones-table tbody tr td.diamond.Closed .this-diamond::after{
	border-left-color: #006400;
}