/* Remove numeric controls from Safari and Chrome */
.THIS input[type=number]::-webkit-inner-spin-button, 
.THIS input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Remove numeric controls from Firefox */
.THIS input[type=number] {
    -moz-appearance:textfield;
}

/*CSS for the error message banner*/
.THIS .errorMessageBanner{
    font-weight: 300;
    border-radius: .25rem;
    font-size: 1rem;
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255,255,255);
    line-height: 1.25;
}

/*CSS for the error message*/
.THIS .errorMessage{
    font-size: 0.8125rem;
    color: rgb(194, 57, 52);
    line-height: 1.5;
    margin:0;
    
}