.THIS .box{
    width: 149px;
    height: 136px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px;
}
.THIS .unselected{
    background-color: rgba(27,82,151,.10);
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.THIS .selected{
    background-color: #2FC9A1;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.THIS .imageClass{
    height: 80px;
    width: 80px;
}