.THIS .active {
    background: #9b9b9b;
    border: 4px solid #F3F2F2;
}
.THIS .disabled-text {
    color: rgba(62,62,60,0.5);
}
.THIS .slds-progress__marker {
    border: 4px solid #F3F2F2;
    box-shadow: none !important;
}
.THIS .cursor {
    cursor: pointer;
}