.THIS .th-quiz__legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 1.5rem 1.5rem .5rem;
}

.THIS .th-quiz__item-icon, .THIS .th-quiz__question-icon, .THIS .slds-radio_faux {
    height: 2rem;
    width: 2rem;
    font-weight: 700;
    text-align: center;
    margin-right: 1rem;
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.THIS .th-quiz__question-icon {
    border-radius: 100%;
    line-height: 1.25rem;
    font-size: 1.25rem;
}

.THIS .th-quiz__question-text {
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 0.9rem;
}

.THIS .slds-radio {
    padding: .25rem 1.5rem;
}

.THIS .slds-radio [type=radio]:checked+.slds-radio_faux:after,
.THIS .slds-radio [type=radio]:checked~.slds-radio_faux:after, 
.THIS .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux:after
{
    width: 2rem;
    height: 2rem;
    background-color: #2FC9A1;
    background-image: url("/resource/ldt__SLDS202/assets/icons/action/approval.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: 1px solid #9b9b9b;
}

.THIS .slds-radio [type=radio]:hover+.slds-radio_faux,
.THIS .slds-radio [type=radio]:hover~.slds-radio_faux, 
.THIS .slds-radio [type=radio]:hover+.slds-radio__label .slds-radio_faux
{
    width: 2rem;
    height: 2rem;
    background-color: #F3F2F2;
    border: 1px solid #9b9b9b;
}