/**************************************************************************************
 Name: aura.OpportunityMultiOfficeRow
 Version: 1.0 
 Created Date: 13.04.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --               
 * Stefan Abramiuk   13.04.2017      Original Version
 * Pradeep Shetty    08/20/2018      US2396: Adjust MOS start dates automatically
                                     Add Lag and Auto Adjust fields
 *************************************************************************************/
.THIS td.lead{
    width: 40px;
}

.THIS td.performanceUnit{
    min-width: 250px;
    max-width: 250px;
    white-space: normal;
}

.THIS td.subsector{
    width: 15%;
    min-width: 150px;
    white-space: normal;
}

.THIS td.resourceType{
    width: 15%;
    min-width: 150px;
    white-space: normal;
}

.THIS td.revenue{
    width: 10%;
    min-width: 150px;
}

.THIS td.gm{
    width: 10%;
    min-width: 150px;
}

.THIS td.avgGM{
    width: 3%;
    min-width: 75px;
}

.THIS td.hours{
    width: 5%;
    min-width: 120px;
}

.THIS td.startDate{
	width: 140px;
    min-width: 140px;
}

/*US2396: Added Lag field*/
.THIS td.lag{
    width: 3%;
    min-width: 75px;
    text-align: center;
}

/*US2396: Added Auto Adjust field*/
.THIS td.autoAdjust{
    width: 40px;
    text-align: center;
}


.THIS td.months{
    width: 3%;
    min-width: 65px;
}

.THIS td.actions{
    width: 3%;
    min-width: 60px;
}

.THIS .performanceUnit label,
.THIS .resourceType label{
    display: none;
}

.THIS .slds-lookup__menu {
    width: auto !important;
    min-width: 100%;
}

@media (max-width: 1500px) {
    .THIS .hidden-sm {
        display: none !important;
    }
}