.THIS .slds-checkbox_faux{
    background-color: #f9edd6 !important;
}
.THIS .slds-checkbox_faux:after{
    border-color: #000 !important;
}
.THIS .jacobs-wrap{
	word-break: break-word;
    overflow-wrap: break-word;
}