.THIS .imageClass {
    height: 80px;
    width: 80px;
}
.THIS .box {
    width: 149px;
    height: 136px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px;
}
.THIS .unselected {
    background-color: rgba(27,82,151,.10);
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: relative;
}
.THIS .selected {
    background-color: #2FC9A1;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.THIS .risk-score {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.THIS .standard {
    background-color: #27B78F;
    font-weight: 600;
}
.THIS .elevated {
    background-color: #FCB95B;
    font-weight: 600;
}
.THIS .high {
    background-color: #CA4441;
    color: #fff;
}
.THIS .p-around_xxx-large {
    padding-top: 70px;
    padding-bottom: 40px;
}
.THIS .responseCol {
    width: 100px !important;
}
.THIS .flagIcon {
    color: #fdb662;
}
.THIS button:disabled lightning-primitive-icon .flagIcon {
    color: #fff !important;
}