/**************************************************************************************
 Name: aura.JEG_Card
 Version: 1.0 
 Created Date: 05.04.2017
 Function: Card layout wrapper. Have header with icon and spinner

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   05.04.2017      Original Version
 *************************************************************************************/
.THIS .spinnerWrapper{
    width: 24px;
    height: 24px;
}

.THIS .spinnerDiv{
    margin-right: 12px;
    margin-left: 12px;
}

.THIS .cardBody{
    padding-left: 1%;
    padding-right: 1%;
}

.THIS .slds-card__header{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.THIS .slds-text-heading--small{
    font-weight: 700;
}