/**************************************************************************************
 Name: aura.OpportunityMultiOffice
 Version: 1.0 
 Created Date: 12.04.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   12.04.2017      Original Version
 *************************************************************************************/

.THIS th.tableHeader {
    text-align: center;
    white-space: normal;
}