/**************************************************************************************
 Name: ChildOpportunitiesRelatedList
 Version: 1.0 
 Created Date: 08.05.2017
Function: Related list of opportunity child opportunities

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   08.05.2017      Original Version
 *************************************************************************************/
.THIS .tableFooter{
    border-collapse: separate;
    border-top: 1px solid rgb(216, 221, 230);
}

.THIS .opportunityName{
    min-width: 350px;
    width: 25%;
}

.THIS .forecastCategory{
    width: 5%;
}

.THIS .overflow-auto{
    overflow: auto;
}

/*Start: US2180*/
.THIS .opportunityRecordType{
    width: 10%;
}
/*End: US2180*/

.THIS .revenue{
    min-width: 175px;
    width: 15%;
}

.THIS .factoredRevenue{
    min-width: 175px;
    width: 15%;
}

.THIS .gm{
    min-width: 165px;
    width: 15%;
}

.THIS .factoredGM{
    min-width: 165px;
    width: 15%;
}

.THIS .workHours{
    min-width: 192px;
    width: 15%;
}

.THIS .factoredworkHours{
    width: 15%;
}

.THIS .opportunityStage{
    width: 10%;
}

.THIS .closeDate{
    width: 10%;
}

.THIS .actions{
    width: 3%;
}

.THIS .tableFooterSum td{
    border-top: 2px solid gainsboro;
}

.THIS .tableFooterDiff{
    background-color: #ecebea;
}

.THIS .tableFooterTotal{
    background-color: gainsboro;
}

.THIS .editDialog{
    margin-top: 100px;
}

.THIS .editDialog .slds-modal__container{
    width: 60%;
    max-width: 50rem;
    min-height: 20rem;
}

@media (max-width: 1350px) {
    .THIS .hidden-sm {
        display: none !important;
    }
}