/**************************************************************************************
Name: aura.OpportunityBigDealAlert
Version: 1.0 
Created Date: 05/25/2018
Function: Displays a message when a big Opportunity is booked

Modification Log:
**************************************************************************************
* Developer         Date            Description
**************************************************************************************
* Manuel Johnson   	05.25.2018      Original Version
* Pradeep Shetty    06.10.2018      Added logic for the message display
* Manuel Johnson	07.07.2018		Added delay in visibility of modal
*************************************************************************************/
/*This CSS block adds the animation to all classes beginning with "confetti-"*/
.THIS [class |= "confetti"]{
    position: absolute;
    animation-duration: 15s;
    animation-name: dropConfetti;
    animation-iteration-count: infinite;
}

.THIS .delay-visibility {
    visibility: hidden;
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
}

/*Keyframes define the type of animation. 
  We are dropping the confetti and rotating it as they drop.
  Name of the keyframe is used in the above CSS definition*/
@keyframes dropConfetti
{
0% {
	margin-top: 0%; 
	transform: rotateZ(0deg);
   }
100% {
	  margin-top: 100%; 
	  transform: rotateZ(360deg);
	 }
}

@-webkit-keyframes dropConfetti
{
    0% {
        margin-top: 0%; 
        transform: rotateZ(0deg);
    }
    100% {
        margin-top: 100%; 
        transform: rotateZ(360deg);
    }
}

@keyframes fadeIn {
   99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@-webkit-keyframes fadeIn {
   99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}