/**************************************************************************************
 Name: aura.CustomRelatedListTable
 Version: 1.0 
 Created Date: 15.03.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   15.03.2017      Original Version
 *************************************************************************************/
.THIS .actionCol {
    width: 10%;
}
.THIS .col{
    width: 23%;
}

.THIS .linkingCol{
    width: 12%;
    word-break: break-all;
}