/**************************************************************************************
 Name: Documents
 Version: 1.0 
 Created Date: 07.03.2017
 Function: Documents controller

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk           07.03.2017         Original Version
 *************************************************************************************/
.THIS p.componentTitle {
    font-size: 12px;
}

.THIS div.columnTitle {
    font-size: 12px;
}

.THIS .spinner{
    margin-left: 150px;
    margin-top: -14px;
}