/**************************************************************************************
 Name: BookedActuals
 Version: 1.0 
 Created Date: 05.04.2017
 Function: BookedActuals CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   05.04.2017      Original Version
 *************************************************************************************/
.THIS .type{
    width: 8%;
}

.THIS .sold{
    width: 23%;
}

.THIS .actual{
    width: 23%;
}

.THIS .variance{
    width: 23%;
}

.THIS .percentVariance{
    width: 23%;
}