.THIS.statusIcon{
    height: 140px; 
    width: 140px; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    background: white; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}