/**************************************************************************************
 Name: aura.OpportunityForecast
 Version: 1.0 
 Created Date: 19.04.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   19.04.2017      Original Version
 *************************************************************************************/
.THIS .officeGroup{
    width: 8%;
    white-space: normal;
}

.THIS .resourceType{
    width: 10%;
    min-width: 150px;
    white-space: normal;
}

.THIS .spreadingFormula{
    width: 10%;
    min-width: 190px;
    white-space: normal;
}

.THIS .quarter {

}

.THIS.quarter.no-border {
    margin-top: -1px;
}

.THIS .actions{
    width: 7%;
    min-width: 75px;
    white-space: normal;
}

.THIS .undo{
    width: 1%;
}

.THIS .scroller {
    overflow: auto;
}

.THIS .fix-height-cells th {
    height: 55px;
}

.THIS .fix-height-cells td {
    height: 80px;
}

.THIS .fix-height-cells .tableFooter td {
    height: 40px;
}

.THIS .tableFooter{
    font-weight: bold;
}

.THIS .chevronButton{
    margin-left: 5px;
    margin-right: 5px;
}

.THIS .spreadingFormula label{
    display: none;
}

.THIS .spreadingFormula .slds-form-element{
    width: 100%;
}

.THIS .manualEditModal .slds-modal__container{
    padding-top: 10rem;
}

.THIS .selected {
    background-color: rgba(27, 82, 151, 1.0);
}

.THIS .selected span {
    color: #fff;
}