.THIS .wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.THIS .errorField {
    border-bottom: 1px solid #c23934;
    background-color: #FFE5E0;
}
.THIS.spinnerHolder{
    position: absolute;
    height: 80px;
    width: 80px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}