/**************************************************************************************
 Name: aura.OpportunityEstimations
 Version: 1.0 
 Created Date: 11.04.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   11.04.2017      Original Version
 *************************************************************************************/
.THIS .inline{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.THIS .go,
.THIS .get{
    width: 70px;
}

.THIS .slds-input{
    min-height: 2.125rem;
}

.THIS .forecast{
    margin-right: 15vw;
}

.THIS .buttons{
    margin-top: 20px;
    margin-left: 10vw;
}