<!--
/**************************************************************************************
Name: BPRevision
Version: 1.0 
Created Date: 08/15/2017
Function: Creates new B&P Revision 

Modification Log:
**************************************************************************************
* Developer         Date            Description
**************************************************************************************
* Pradeep Shetty   08/15/2017      Original Version
*************************************************************************************/
-->
<apex:page id="BPRevision" standardController="B_P_Request__c" recordSetVar="bpRequests"  extensions="BPRequest_C">
    <apex:includeLightning />

    <div id="lightning" />

    <!-- Record Id: {!Id} -->

    <script>
        $Lightning.use("c:BPRevisionApp", function() {
            $Lightning.createComponent("c:BPRevision",
                { recordId : "{!Id}" },
                "lightning",
                function(cmp) {}
            );
        });
    </script>
</apex:page>