/**************************************************************************************
 Name: NewOpportunityLocation
 Version: 1.0 
 Created Date: 27.04.2017
 Function: NewOpportunityLocation CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   27.04.2017      Original Version
 *************************************************************************************/
.THIS .spinner{
    position: relative;

}

.THIS .spinnerWrapper{
    display: inline-block;
    width: 40px;

}