.THIS .dateFix{
    width: 95% !important;
}
.THIS .selHeight{
    height: 2.5em !important;
}

/*.THIS .option{
    background-color: #FF0000 !important;
    background: #FF0000 !important;

}

.THIS .hey{
    background-color: red !important;
    background: red !important;
}

.THIS .select.prompt-selected{
    color:red !important;
}

.THIS .filterOptions{
    background-color:red !important;
}

.THIS .option.first-child{
    background-color:red !important;

.THIS .option:not(:checked) { 
    background-color: black !important; 
    color:white !important;
}

.THIS .option:checked {
    background-color: red !important;
}


.THIS .styled-select{
    background-color: red !important;
}

.THIS .black{
    background-color:#d3d3d3 !important;
}

.THIS.mySelect{
    background-color:red !important;
}
*/
.THIS .slds-select{
    background-color:#F0F0F0;
}
.THIS .onclick{
    background-color:white;
}