/**************************************************************************************
 Name: aura.CustomRelatedListField
 Version: 1.0 
 Created Date: 15.03.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   15.03.2017      Original Version
 *************************************************************************************/
.THIS.outputField{
    width: 100%;
    display: block;
    min-height: 75.2px;
    word-break: break-all;
    overflow-x: hidden;

}