/**
 * Created by Stefan Abramiuk on 16.02.2017.
 */

.THIS.field {
    position: relative;
    /*min-height: 150px*/
}

.THIS.field .edit-button{
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.THIS.field .save-button{
    position: absolute;
    right: 50px;
    bottom: 40px;
}

.THIS.field .discard-button{
    position: absolute;
    right: 10px;
    bottom: 40px;
}

.THIS .tabSpinner .slds-spinner {
    top: -16px;
}

.THIS .dark {
    color: rgb(22, 50, 92);
    fill: rgb(22, 50, 92); 
}

.THIS .section-icon {
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}