/**************************************************************************************
 Name: aura.ScheduleMilestoneChart
 Version: 1.0 
 Created Date: 16.03.2017
 Function: AT_SegmentAttritionTable CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Stefan Abramiuk   16.03.2017      Original Version
 * Chris Cornejo     9/5/2018        US2404 - Schedule Milestone: Visual Status on Chart
 * Chris Cornejo     11/05/2018      US2411 - Schedule Milestone -  Freeze Milestone Titles when Scrolling in Graph
 *************************************************************************************/
.THIS{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.THIS #wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.THIS .chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
    /* US2411 */
    padding-left: 0px;
}

.THIS .axis path,.THIS .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.THIS .bar-one-day {
    fill: #1e43e5;
    /* US2411*/
    height: 26px;
}

.THIS .bar-multi-day {
    fill: #459eff;
    /* US2411*/
    height: 37px;
}

/* US2404 - Past Due(red) */
.THIS .bar-past-due {
    /*--fill:#640000;*/
    fill:rgb(194, 57, 52);
}

/* US2404 - Completed(green)*/
.THIS .bar-closed {
    fill:#006400;
}

/* US2404 - Upcoming(blue)*/
.THIS .bar-upcoming{
    fill:#1e43e5;
}

.THIS .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.THIS .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.THIS .grid path {
     stroke-width: 0;
 }

.THIS .milestone{
    overflow: auto;
    overflow-y: hidden;
    width: 90%;
    margin-left: 0%;
    margin-right: 8%;
    background-color: white;
    /* US2411 */
    padding-left: 0px;
}

.THIS .spinnerWrapper{
    width: 24px;
    height: 24px;
}

.THIS .spinnerDiv{
    margin-right: 12px;
    margin-left: 12px;
}

.THIS span.scaleButtons{
    margin-left: 20px;
}

.THIS .slds-card__header{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.THIS .slds-text-heading--small{
    font-weight: 700;
}
/* US2411 start*/
.THIS .y.axis {
    display: none !important;
    white-space: nowrap;
    padding-left: 0px;
}
 .THIS .fix-height-cells td {
    height: 41px;
    padding-right: 0px;
    border: 0px;
}
 .THIS .milestoneGroup{
    width: 8%;
    white-space: normal;
}
 .THIS .fix-height-cells tr {
    height: 37px;
}
.THIS .tablepadding{
    padding-bottom: 30px;
    padding-top: 80px;
    border: none;
}
 .THIS .gantt-chart{
    padding-left: 0px;
    margin-left: 2%;
    position: absolute;
    left: auto;
}
 .THIS .y.axis .tick line {
    display: none;
}
.THIS .y.axis .tick text {
    display: none;
}
 .THIS .y.axis .tick {
    display: none;
}
 .THIS .y.axis .domain {
    display: none;
}
/* US2411 end*/