.THIS .statusIcon{
    height: 140px; 
    width: 140px; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    background: white; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .slds-is-active:before {
    background-color: rgb(221, 219, 218) !important;
}

.THIS .bold {
    font-weight: 500;
}

.THIS.progress-menus {
    background-color: #F3F2F2;
}