/**************************************************************************************
 Name: BPRevision
 Version: 1.0 
 Created Date: 08/15/2017
 Function: BPRevision CSS

 Modification Log:
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -
 * Developer         Date            Description
 * -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --                  
 * Pradeep Shetty   08/15/2017      Original Version
 *************************************************************************************/
.THIS .spinner{
    position: relative;

}

.THIS .spinnerWrapper{
    display: inline-block;
    width: 40px;

}

/* Remove numeric controls from Safari and Chrome */
.THIS input[type=number]::-webkit-inner-spin-button, 
.THIS input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}

/* Remove numeric controls from Firefox */
.THIS input[type=number] {
    -moz-appearance:textfield;
}

.THIS .required {
    color: rgb(194, 57, 52);
}