.THIS .scrollable{
 height: 400px; 
 overflow-y:auto;
    
}
.THIS .colwidth{
    width : 4% !important;
}
.THIS .removeSpacing{
  padding-right: 0px;
}
.THIS .panelBack
{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}
.THIS .th
{
  border: 1px solid #006; 
}
.THIS .td {
    border-spacing : 0;
}
.THIS .table {
  border-collapse: collapse;
}
.THIS .slds-modal__container{
    width:90%;
    max-width: none;
    min-width: 40rem;
    height: 100%;
    padding: 3rem 0;
}