/**************************************************************************************
Name: aura.BookingValueScheduleForm
Version: 1.0 
Created Date: 03/20/2018
Function: CSS for BookingValueScheduleForm component

Modification Log:
**************************************************************************************
* Developer         Date           Description
**************************************************************************************
* Pradeep Shetty   09/08/2018      Original Version
*************************************************************************************/
/*This is used to hide default label created by Lightning Combobox. 
  We are using custom label because we need to show the "i-bubble" */
.THIS lightning-combobox > label{
    display: none;
}

/*This is used to hide default label created by Lightning Input. 
  We are using custom label because we need to show the "i-bubble" */
.THIS lightning-input > label{
    display: none;
}

/*This is used to hide default label created by Lightning Datepicker. 
  We are using custom label because we need to show the "i-bubble" */
.THIS lightning-datepicker > div > label{
    display: none;
}

/*This is used to make the column headers wrap and center align*/
.THIS lightning-datatable th a .slds-truncate{
    white-space: normal !important;
}

/*This is used to make the column headers wrap and center align*/
.THIS lightning-datatable lightning-formatted-number{
    margin-right: 20px;
}

/*CSS for the error message banner*/
.THIS .errorMessageBanner{
    font-weight: 300;
    border-radius: .25rem;
    font-size: 1rem;
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255,255,255);
    line-height: 1.25;
}

/*CSS for the error message*/
.THIS .errorMessage{
    font-size: 0.8125rem;
    color: rgb(194, 57, 52);
    line-height: 1.5;
    margin:0;
    
}

/*Class for lightning datatable*/
.THIS .dataTable{
    height: 300px;
}